{% extends "blog/base.html" %}
{% block content %}
<div class="header" style="margin-left: 24%; margin-top: -48px; font-weight: bold;">
   <a href="" style="color: black; text-decoration: none;"><h5 style="font-weight: bold ;">Home</h5></a> 
</div>
<button class="twitter-button text-muted"><b>For You</b></button>
<button class="twitter-button following text-muted"><b>Following</b></button>
<button class="twitter-button following text-muted"><b>Amazon</b></button>
    <main style="border-right: 1px solid #ddd;">
        <article class="border-right" >
            <a href="">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">mesh</a>
                    <small class="text-muted">12/11/2023</small>
                </div>
                <h2><a class="article-title" href="#">post.title</a></h2>
               <a href=""><p class="article-content">post.content</p></a> 
            </div>
            </a>
            </article>
    </main>
        


{% endblock content %}