{% extends "blog/base.html" %}
{% block content %}

<section style="text-align: center;">
  <div class="container">
    <h1>Get in touch with our lates trending Updates in diffent fields</h1>
  </div>
</section>

    <main style="border-right: 1px solid #ddd;">
        <article class="border-right" >
            <a href="">
            <div class="media-body">
                {% for post in posts%}
    
       <article class="media content-section" style="width: 400px; color: black; margin-left: 350px;">
        <img class="rounded-circle" src="{{ post.author.profile.image.url }}" height="50px" width="50px">
         <div class="media-body">
           <div class="article-metadata">
             <a class="mr-2" id="" href="#">{{ post.author }}</a>
             <small class="text-muted">{{ post.date_posted|date:"F d , Y" }}</small>  
           </div>

          
           <p> <p class="article-content" style="color: black;"> {{ post.content }} </p></p>
           <img src="{{ post.image.url }}" alt="">
          
           

         </div>
       </article>

   {% endfor %}
            </div>
            </a>
            </article>
    </main>
        


{% endblock content %}