{% extends "blog/base.html" %}
{% block content %} 
<div class="container" style="margin-top: 3%;">
  <div class="row">
    <div class="col">
      <h2 class="article-title" >{{ object.title }}</h2>
             {% if object.author == user %} 
             
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        
             {% endif %}
         
           
           <div >
            <img class="rounded-circle" src="{{ object.author.profile.image.url }}" height="50px" width="50px">
        
           
             <a class="mr-2" href="#">{{ object.author }}</a>
             <small class="text-muted" style="margin-left: 10%;">{{ object.date_posted|date:"F d , Y" }}</small>
           </div>
          </div>
          <div class="col">
           <img src="{{ post.image.url }}" alt="" height="500px" width="600px"> 
          </div>
          
        </div>
      </div>
      <div class="" style="margin-left: 10%; margin-top: 5%;">{{ object.content }} </div>
   {% endblock content %}